html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  font-family: Neuton;
  color: #e6e6e6;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  margin: 3rem;
}

header .text{  
  font-weight: bold;
}

header #name{
  font-size: 42px;
}

header #profission{
  font-size: 24px;
}

header #description{
  font-size: 18px;
}

header .image{
  height: 12rem;
  width: 12rem;
  position: absolute;
  right: 3rem;
}