body {
    position: relative;
}

article section {
    height: 40vh;
    width: 100vw;
    background-color: chocolate;
    margin-bottom: 5px;
}

.par {
    background-color: bisque;
}

#btop i{
    font-size: 40px;
    color: black;
}

article section:nth-child(3n+1){
    background-color: blue;
}

article section:nth-child(2)::after{
    content: "AFTER";
    background-color: rgb(110, 110, 163);
}

article section:nth-child(2)::before{
    content: "BEFORE";
    background-color: rgb(110, 110, 163);
}

#voe {
    position: fixed;
    bottom: 15px;
    right: 15px;
}